body, html {
    height: 100%;
  }

  /* Add a black background color to the top navigation */
  .navbar1 {
    overflow: hidden;
    background-color: #333; 
    position: fixed;
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  .navbar1 h3 {
    float: right;
    color: white;
    text-align: center;
    padding: 15px;
  }

  /* Style the navbar1 links */
  .navbar1 a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  .navbar1 a:hover {
    background-color: rgb(20, 79, 168);
    color: black;
  }

  /* Hide the link that should open and close the navbar1 on small screens */
.navbar1 .icon {
  display: none;
}

.bgi1 {
    /* The image used */
    background-image: url('MA208983.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .midCuts {
    background-color:black;
    font-size:36px;
  }

  .bgi2 {
    /* The image used */
    background-image: url('MA209005.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galLrow {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .gallCol {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0;
  }
  
  .gallCol img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  img{
      transition:.5s ease-in-out;
  }

  img:hover{
     filter: brightness(80%); 
  }

  /* When the screen is less than 680 pixels wide, hide all list items
  , except for the first one ("Top"). Show the list item that contains 
  the link to open and close the navbar1 (a.icon) */
  @media screen and (max-width: 680px) {
    .navbar1 a:not(:first-child) {display: none;}
    .navbar1 a.icon {
      float: right;
      display: inline-block;
    }
  }
  
  /* The "responsive" class is added to the navbar1 with JavaScript when the user clicks on the icon. 
  This class makes the navbar1 look good on small screens */
  @media screen and (max-width: 680px) {
    .navbar1.responsive {position: relative;}
    .navbar1.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar1.responsive a {
      float: none;
      display: inline-block;
      text-align: left;
    }
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .gallCol {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .gallCol {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
